@import "lib/bootstrap/bootstrap";

.sector-map {
    height: 830px;
    width: 600px;

    .hex-container {
        .hex {
            fill: transparent;
            stroke: $text-color;
            stroke-width: 2px;
        }

        text {
            fill: $gray-light;
            text-anchor: middle;
        }
    }
    
}